<!doctype html>
<head>
  <meta charset="utf-8">
  <title>YouSell</title>

  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>YouSell</h1>

    <% if @user %>
    <div id="user">
      <span class="name"><%= @user[:name] %></span>
      <span class="balance">$<%= @user[:balance] %></span>
    </div>
    <% end %>
  </header>

  <div id="filler"></div>

  <div id="form">
    <% if @user %>
      <form>
        <div class="wrap">
          <input type="text" name="name" placeholder="Product Name"/><br />
          <input type="text" name="description" placeholder="Description"><br />
          <input type="text" name="name" placeholder="$10"/><br />
        </div>
        <button type="button" name="submit" value="Sell" class="submit">Sell</button>
      </form>
    <% else %>
      <form action="/login" method="post" name="login">
        <div class="wrap">
          <input type="text" name="name" placeholder="Name"/><br />
          <input type="password" name="password" placeholder="Password"><br />
        </div>
        <button type="submit" name="submit" value="Sell" class="submit">Go!</button>
      </form>
    <% end %>
  </div>

  <div id="list">
    
  </div>

  <div id="debug">
    <%= $USERS.inspect %>
    <%= @user.inspect %>
  </div>

</body>
</html>

